body {  
background-image: url(Slike/marble.jpg); 
no-repeat;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

.zaglavlje a {
  color: #fff;
  font-size: 24pt;
  text-decoration: none;
  display: block;
  margin-top: 30px;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.zaglavlje p {
  color: #fff;
  font-size: 32pt;
  text-align: center;
  width: 100%;
  margin-top: 150px;
  font-family: 'Lobster', cursive;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 50px;
  margin-right: 50px;
  border-style: inset;
  border-width: 1px;
} 

.row navigacija {
	width:500px;
	margin-left:350px;
	margin-top:-80px;
}

.navigacija ul{
   width: 100%;
   display: table;
   text-align: center;
}

.navigacija ul li{
     display: inline-block;
     float: none;
}
.navigacija li {
	display: inline;
	margin-right: 40px;
	list-style-type: none; 
}
.navigacija li a {
	line-height: 100px;
	color: #000;
	text-decoration: none;
	font-size: 14pt;
}

@media screen and (max-width:760px) {
  .navigacija li {
    display: block;
    text-align: center;
  }
  .navigacija{
    height: auto;
    }
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  width:100px;
  height: 100px;
  margin-top: -40px;
}

@media screen and (max-width:760px) {
	.column {
		display: block;
		text-align: center;
	}
}

.row::after {
  clear: both;
  display: table;
}

.galerija  h1 {
      text-align: center;
      font-size: 18pt;
      text-transform: lowercase;
      padding-top: 50px;
      padding-bottom: 40px;
}

.galerija .slika {
  float: center;
  width: 33.33%;
  padding: 5px;
}

.maska {
      background-color: #000;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: 1s ease;
}
.galerija .slika:hover .maska {
      opacity: 0.7
}

.galerija .slika p {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32pt;
}

 
.footer .title {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer ul {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.footer ul li {
  display: inline;
  margin-right: 30px;
}

.social-icons {
    left: 25px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 12;
}
.social-icons li {
  display: block;
  list-style-type: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width:20px;
  height:20px;
  margin-right: 25px;
  margin-top: -180px; 
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


	